<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nengdong.orderservice.mapper.StudentOrderMapper">
    <select id="countOrder" resultType="java.lang.Integer">
    SELECT COUNT(id)
    FROM student_order um
    WHERE DATE(um.`gmt_create`) = #{day}
</select>
</mapper>
